In [ ]:
"""
x = 5
대소문자 구분, 소문자로 시작, 예약어(for, if, ... 이미 예약되어 있는 명령어는 안됨)
"""
x,y = 1,2

In [ ]:
x

In [ ]:
del x # 변수가 메모리에서 제거

In [ ]:
del x

In [ ]:
# 빈 변수
x = None # 변수는 만들어졌지만 값을 들어있지 않은 상태
x

In [ ]:
x = 10
x = x+5
x+=5
x

In [ ]:
input()

In [ ]:
x = int(input('입력 : '))
x*=3
x

# input 함수는 문자로 입력 받음 -> 수치연산을 하려면 형 변환 시켜줘야 함

In [226]:
# input에서 여러개입력 -> split 함수 사용
x,y=input("문자열 두 개 입력 : ").split()
x=int(x)
y=int(y)
print(x)
print(y)
print(x+y)

문자열 두 개 입력 : 2 10
2
10
12

In [ ]:
# print(type(input("문자열 두개 입력 : ").split()))
x,y=map(int, input("문자열 두 개 입력 : ").split())
# 형식 : map(함수, 데이터) => 데이터 각각에 대해서 이 함수를 적용 시켜라
print(x+y)

In [ ]:
x,y = map(int, input("문자열 두 개 입력 : ").split())
print(x+y)

In [ ]:
print(1,2,3,4) # 1 2 3 4
print("hi","hello") # hi hello
print(1,2,3,4, sep=",") # 1,2,3,4
print(1,2,3,4, sep=",,,") # 1,,,2,,,3,,,4
print(1,2,3,4, sep="") # 1234
print(1,2,3,4, sep="\n") # \n : 제어문자(화면에 출력)
print("1\n2\n3")
print("1\t2\t3")

In [ ]:
print("1\\2") # \ 기호는 \\ 작성해서 출력해야함 -> \ 자체가 특별한 문자이기 때문

In [ ]:
print(1, end=' ') # \n 문자를 ''로 대체하라
print(2, end=' ')
print(3)
print(1,2,3)

In [26]:
"""
Boolean : True / False (논리 값)  by 논리 연산자
"""

2>1
2==1
2!=1
"test" == "text"
"python" == "python"
1==1.0 # 1->1.0으로 변환되고 1.0과 같냐 비교 --> true
1 is 1.0 # 정수 1의 객체 == 실수 1.0의 객체 --> false
1 is not 1.0

True

In [ ]:
"""
Class : 건축 설계도, 붕어빵 기계, 자동차 공장
object : 건물, 붕어빵, 자동차
attribute : 건물의 특성(층, 평수... ), 붕어빵의 특성(내용물, 크기,...)
method : 건물의 동작, 붕어빵의 동작, 달린다 / 멈춘다 ...
inheritance : 유사한 건물 설계시 기존 건축 설계도의 재사용
"""
아빠 -> 코골이 -> 자식(이를 간다) -> 자식(코골이, 이를 간다, 잠꼬대)

In [9]:
# 논리연산 : and or not
# and : 모두 참 => 참
True and True
True and False
# or : 적어도 하나 이상 참 => 참

False or False
False or True
# not : 논리값 반대로 뒤집는 연산자
not True
not True and False or not False
((not True) and False) or (not False)

True

In [11]:
1==1 and 10 !=9
not 1 > 0   # not True => False
not 10 > 5
not 1 is 1.0

True

In [21]:
# bool 함수 : 정수, 실수, 문자열 => boolean type 변환
bool(1)
bool(0)
bool(-1) # 정수 0을 제외한 모든 정수는 참

bool(3.14)
bool(0.00000000) # 실수 0.0을 제외한 모든 실수는 참
bool(-3.14)

bool("hi")
bool("") 
bool('') # 빈 문자열인 경우 False가 나옴

False

In [25]:
False and True # False 이므로 and 뒤에 있는 True 는 실행하지 않음
True or False # True 이므로 or 뒤에 있는 False는 실행하지 않음

False

In [37]:
number = 3
day = "two"
"I eat %d apples. " % 3
"I eat %s apples."  % "three"

"I eat %d apples." % number

"i ate %d apples, so I was sick for %s days." % (number, day)
# 두 개 이상의 값을 전달하려면 광호로 묶어서 표현해야 한다.
# %s 는 타입과 관련없이 전달 받아서 출력해줌

'i ate 3 apples, so I was sick for two days.'

In [40]:
"Error is %d" % 90
"Error is %d%%" % 90 # %기호 출력 -> %%

'Error is 90%'

In [52]:
# %10s : 10자리를 확보한 후, 오른쪽 정렬 출력
print("%10sgd" % "hi")
print("%10sgd" % "hello")

# %-10s : 10자리를 확보한 후, 왼쪽 정렬 출력
print("%-10sgd" % "hi")
print("%-10sgd" % "hello") # 11번째부터 gd가 출력

        higd
     hellogd
hi        gd
hello     gd

In [61]:
"%.2f" % 3.14 # %f 소수점 이하 6번째 자리까지가 default로 설정되어 있음 => .2f는 소수점 2번째 자리까지 출력하라
"%10.2F" % 3.14 # 10자리를 확보한 후, 소수 이하 둘째자리까지 출력

'      3.14'

In [71]:
# format 함수를 이용한 formatting
"I eat %d apples" % 3
"I eat {0} apples".format(3)
"I eat {0} apples".format("three")
num = 3
"I eat {0} apples".format(num)

"I ate {0} apples, so I was sick for {1} days.".format(3, "Three")
"I ate {num} apples, so I was sick for {day} days.".format(num=3, day="three")
"I ate {0} apples, so I was sick for {day} days.".format(3, day="three")

'I ate 3 apples, so I was sick for three days.'

In [78]:
"{1} {0}".format("hi","hello")

# 정렬 옵션
"{0}".format("hello")
"{0:<10}".format("hello") # 10자리 확보 + 왼쪽 정렬
"{0:>10}".format("hello") # 10자리 확보 + 오른쪽 정렬
"{0:^10}".format("hello") # 10자리 확보 + 가운데 정렬
"{0:=^10}".format("hello") # 10자리 확보 + 가운데 정렬, =로 채워넣음

'==hello==='

In [86]:
a="hello"
a.count('l') # l 문자의 개수
a.count('a') # a 문자의 개수

b="Python is very easy."
b.find('y') # 가장 왼쪽에서부터 찾아가므로 1이 나옴 , 처음 만난 y의 위치를 return
b.find('k') # 문자를 못 찾는 경우에는 -1을 return

b.index('y') # 가장 왼쪽에서부터 찾아가므로 1
b.index('k') # 문자를 못 찾는 경우네는 error 발생

ValueError: substring not found

In [229]:
"#".join("hello")
# 리스트 : 대 괄호([])로 표현, 자료를 나열하고자 할 때 사용하는 자료구조
"$".join(['m','u','l','t','i'])

'm$u$l$t$i'

In [95]:
#자연어처리에서 'test', 'TEST', 'Test' => 일괄적으로 동일한 형태로 치환해줘야 함 // 전부 소문자 or 대문자로 통일
a='Test'
a.lower() # 소문자로 변환
a.upper() # 대문자로 변환

'TEST'

In [100]:
# strip함수 : 양쪽 공백 제거
# lstrip 함수 : 왼쪽 공백 제거
# rstrip 함수 : 오른쪽 공백 제거
word=" hello      "
word.rstrip()

' hello'

In [254]:
# replace 함수 : 문자열을 대체
# 대한민국, 한국, 코리아, 조선, 고려, 우리나라 ===> 대한민국으로 다 바꾸려고 할때
x="대한민국 한국 코리아"
print(x)
x.replace("한국","대한민국")

대한민국 한국 코리아

'대한민국 대한민국 코리아'

In [108]:
x="a?b$c?d"
x.split("?") # split을 하면 list형태로 저장됨
x.split("$")

['a?b', 'c?d']

In [116]:
"""
리스트 : 데이터 타입에 괜계없이 저장을 할 수 있다.
"""
x1=[] # 빈 리스트
x1
x2=[1,2,3]
x2
x3=['programing','is','very','easy']
x3
x4=[1,2,'is','very']
x4
x5=[1,2,['is','very']] # 리스트의 요소로 리스트가 올 수 있다. 리스트 내부에는 어떠한 자료형도 모두 포함될 수 있다.
x5
a=list() # a = []
a
a=[1,2,3]
a[0]
a[-1] # 리스트에 저장되어 있는 마지막 요소

3

In [131]:
x=[1,2,3,['a','b','c']]
"""
x리스트에서 1을 참조하여 출력
"""
x[0]
"""
x리스트에서 abc를 참조하여 출력
"""
x[3]
# 리스트의 리스트를 참조
# a를 참조
x[3][0]
# c를 참조
x[3][-1]
x[-1][-1]

'c'

In [143]:
# 삼중 리스트

x=[1,2,['a','b',['Python','is']]]

x[2][2][0]

x[0:3] # x변수에 저장된 데이터의 0번~3-1번 index 데이터 추출
x[0:2]
x[:2] # 시작위치를 생략하면 기본적으로 0번 부터 시작함
x[2:]

[['a', 'b', ['Python', 'is']]]

In [150]:
x2=[1,2,3,['a','b','c'],4,5]
x2

x2[2:] # 3,['a','b','c'],4,5
x2[3][:2] # ['a','b']

['a', 'b']

In [154]:
x=[1,2,3]
y=[4,5,6]
x+y # list + list => 두 개의 리스트가 한개의 list로 연결 되어 짐
"hi"+"hello"
x=[9,8,7]
x*3
"ㅋ"*100

'ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ'

In [156]:
x=[1,2,3]
len(x)
len("hello")

5

In [159]:
a=[1,2,3]
str(a[2])+"hi"

'3hi'

In [173]:
# a=[0,1,2,3,4,5,6,7,8,9....]
range(5) # 0~4 까지 연속된 숫자 생성
list(range(100))
list(range(3,12)) # 범위 내에 출력
list(range(3,12,2)) # 2씩 증가
list(range(13, -2, -2))

[13, 11, 9, 7, 5, 3, 1, -1]

In [177]:
a=[1,2,3]
a[2] = 10
a

del a[1]
a

[1, 10]

In [186]:
# 1~10까지 숫자가 저장된 리스트를 생성
a = list(range(1,11))
del a[6:]
a

[1, 2, 3, 4, 5, 6]

In [188]:
del a[2:-1]
a

[1, 2, 6]

In [191]:
# 리스트변수명.함수명()
a=[1,2,3]
x=5
a.append(x)
a

b=[6,7]
a.append(b)
a

# 자료구조에 따라 사용 가능한 함수가 다르다(공통 사용 가능 함수도 있부 있다)
# 자료구조(리스트, 튜플, 딕셔너리, 셋...)

# Python.org
# 리스트(객체). 함수() 
# 딕녀서닐(객체).함수() 
# 문자열(객체).함수() 

# 자동차객체 -> 달린다(), 멈춘다() ...

# 클래스 : 사람
# 홍길동객체 : 먹는다(), 잔다(), ...
# 홍길순객체 : 먹는다(), 잔다(), ...

[1, 2, 3, 5, [6, 7]]

In [199]:
a=[2,1,4,3] 
# a.sort() # 오름차순 정렬
a.sort()
a.reverse()
a

a=['k','a','z']
a.sort()
a

a.reverse()
a

['z', 'k', 'a']

In [203]:
a=[10,20,30]
a.index(20) # 20이 저장되어 있는 요소의 위치 return
#a.find(20)
a.index(1)

ValueError: 1 is not in list

In [209]:
a=[1,2,3]
a.insert(0, 100) # 0번 index 위치에 100 추가
a
a.insert(3, 5)
a

[100, 1, 2, 5, 3]

In [210]:
a = [3,7,5]
a.sort()
a

[3, 5, 7]

In [211]:
b=['k','j','a']
b.reverse()
b # reverse는 역순으로 출력해주는 함수

['a', 'j', 'k']

In [214]:
a=[1,2,3,1,2,3]
a.remove(3)

In [215]:
a # 처음 만나는 3만 제거

[1, 2, 1, 2, 3]

In [216]:
a=[10,20,30,40]
a.pop() # 가장 마지막에 저장된 요소를 제거(꺼내는) 작업

40

In [217]:
a

[10, 20, 30]

In [218]:
a.pop(1) # 1번 index의 저장되어 있는 자료가 pop되어 짐

20

In [219]:
a

[10, 30]

In [221]:
a=[1,2,3,1]
a.count(1)
a.count(0)

0

In [222]:
a=[1,2,3]
b=[4,5]
a.append(b)
a

[1, 2, 3, [4, 5]]

In [223]:
a=[1,2,3]
b=[4,5]
a.extend(b)
a

[1, 2, 3, 4, 5]

In [224]:
a.extend([6,7])
a

[1, 2, 3, 4, 5, 6, 7]

In [225]:
a+=[8,9]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [241]:
# 주민번호 921101-1231234에서 연월일과 그 뒤의 숫자 부분을 나누어 출력하시오
# ex) 821101 1231234


x=[9,2,1,1,0,1,"-",1,2,3,1,2,3,4]
print(x[0:6])
print(x[7:])

[9, 2, 1, 1, 0, 1]
[1, 2, 3, 1, 2, 3, 4]

In [242]:
# 주민번호 921101-1231234에서 성별을 나내는 숫자를 출력하시오
x=[9,2,1,1,0,1,"-",1,2,3,1,2,3,4]
print(x[7:8])

[1]

In [260]:
# 문자열 a:b:c:d -> a#b#c#c#d로 변경
a="a:b:c:d"
a
a.replace(":","#")

'a#b#c#d'

In [261]:
# ["how","are","you] 리스트에서 join 함수를 이용하여 How are you를 출력하시오
" ".join(["How","are","you"])

'How are you'

In [272]:
# 리스트 [5,3,1,-1,-3] 출력되도록 코드를 작성하시오(range 함수 적용)

list(range(5,-4,-2))

[5, 3, 1, -1, -3]

In [268]:
# 1부터 10000까지 8이라는 숫자가 총 몇번 나오는가?
# 8이라는 숫자를 모두 카운팅 // 8808은 3, 8888 4로 카운팅

x = str(list(range(10000)))
x.count("8")

4000

In [ ]:
"""
0000
~
9999

xxx8 : 1000
xx8x : 1000
x8xx : 1000
8xxx : 1000


"""