In [ ]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import warnings
warnings.filterwarnings("ignore")

In [ ]:
# 1번+2번
df1=pd.DataFrame({
    'Name':['Morning','K3','K5','K8','K9'],
    'Segment':['Mini','Small','Mid','Sport','Large'],
    'Engine':['1.0L','1.6','2.0','3.0','5.0'],
    'Fuel':['14km','18km','16km','12km','10km'],
    'Price':[1000,2000,3000,4000,5000]
})
df1

df2=pd.DataFrame({
    '이름':['Morning','K3','K5','K8','K9'],
    '출시년도':[2000,2005,2005,2016,2010],
    '연료':['휘발유','경유','경유','휘발유','휘발유'],
    '마력':[50,100,150,250,300],
    '탑승인원':[4,5,5,4,4]
    
})
df2
df3=df1.merge(df2, left_on='Name', right_on='이름')
df3

In [ ]:
# 3번
df1=pd.DataFrame({
    '매출':[1000,1500,3000,4000,5000,6000],
    '비용':[1500,2000,2500,2700,3000,3200],
    '이익':[-500,-500,500,1300,2000,2800]}, index=['1월','2월','3월','4월','5월','6월']
)
df1
df2=pd.DataFrame({
    '매출':[4500,4500,5000,6000,3000,2000],
    '비용':[2800,2700,3000,3200,2500,2000],
    '이익':[1700,1300,2000,2800,500,0]}, index=['7월','8월','9월','10월','11월','12월']
)
df2
df3=pd.concat([df1,df2],axis=0)

sell=df3['매출'].sum()
price=df3['비용'].sum()
profit=df3['이익'].sum()
df3.loc['총실적']=[sell,price,profit]
df3

In [ ]:
# 4~6
df_score2=pd.DataFrame({
    '반':['A','A','A','A','A','B','B','B','B','B'],
    '번호':[1,2,3,4,5,1,2,3,4,5],
    '국어':[90,80,90,70,100,80,90,100,70,80],
    '영어':[100,90,100,80,70,90,100,70,80,90],
    '수학':[80,100,80,90,80,100,70,80,90,100]
})
df_score2=df_score2.set_index(['반','번호'])
df_score2['평균']=df_score2.mean(axis=1)
df_score2

In [ ]:
# 7~8번
df_score2=pd.DataFrame({
    '반':['A','A','A','A','A','B','B','B','B','B'],
    '번호':[1,2,3,4,5,1,2,3,4,5],
    '국어':[90,80,90,70,100,80,90,100,70,80],
    '영어':[100,90,100,80,70,90,100,70,80,90],
    '수학':[80,100,80,90,80,100,70,80,90,100]
})
df_score2 = df_score2.set_index(['반', '번호'])
df_score2
df_score2 = df_score2.unstack(0)
df_score2.loc["평균", :] = df_score2.mean()
df_score2

In [3]:
# 9번
import re

def slump(data):
    pat=re.
                

def slimp(data):
    pass

n=int(input())
cnt=0
myList=[]
while True:
    s=input()
    myList.append(s)
    slump(myList)
    cnt+=1
    if cnt==n:
        break

2
AHDFG
DFGAH

In [2]:
s='hello'
a=list(s)
a

['h', 'e', 'l', 'l', 'o']