In [11]:
"""
자료구조 : 자료를 저장 및 관리하는 방법
알고리즘 : 문제를 해결하는 방법

튜플() : 리스트[]와 유사
리스트는 생성, 삭제, 수정 가능
튜플은 변경을 할 수 없음 -> 추가, 삭제, 수정 다 안됨
"""

a=(3,2,5,6,1) # 튜플
a
a=3,2,5,6,1 # 튜플, 괄호를 해줘야 가독성때문에 좋다
a
a1=()
a2=5, # 값을 1개 저장한 튜플을 정의할 때는 뒤에 , 를 
a2
type(a2)
a3=('john',25,180.5,True)
a3
# a3[1]=50  -> 에러 발생

# 튜플은 변경이 안되므로, 데이터가 계속 유지 되어야 하는 경우

TypeError: 'tuple' object does not support item assignment

In [14]:
a=tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [20]:
"""
튜플 <-> 리스트 상호 변환이 가능하다
"""

a=[1,2,3]
a
a = tuple(a)
a
a = list(a)
a

[1, 2, 3]

In [21]:
list('hello') # 문자 하나하나가 요소로 list에 들어감

['h', 'e', 'l', 'l', 'o']

In [22]:
tuple('hello') # 문자 하나하나가 요소로 tuple에 들어감

('h', 'e', 'l', 'l', 'o')

In [26]:
x,y=[1,2]
print(x,y)

ValueError: too many values to unpack (expected 2)

In [31]:
x,y=(1,2)
x
y
# unpacking : 리스트(튜플)의 요소를 여러개의 변수에 할당하는 것
# packing : 변수에 리스트 또는 튜플을 할당하는 것

a=[1,2,3] # 리스트 packing
b=(1,2,3) # 튜플 packing

In [38]:
t1=(1,2,'x','y')
t1
# del t1[0]
# t1[0] = 5
t1[1:]
t2=(3,4)
t1+t2
t2*3
len(t1)

4

In [43]:
# 시퀀스형 : 리스트, 튜플, range, 문자열 데이터는 연속적으로 표현
# 시퀀스형의 객체에 특정 값이 존재하는지 확인

# 0~90까지 10씩 증가 시키면서 
a = list(range(0, 91, 10))
a
# 시퀀스형에 대해 in 연산자 사용 가능 
30 in a # a 변수(시퀀스) 안에 있느냐?

100 in a
30 not in a # a 변수(시퀀스형) 안에 30이 있지 않느냐?
100 not in a

True

In [46]:
'h' in 'hello, python'
'h' not in 'hello, python'
7 in range(100)

True

In [52]:
# +연산자로 시퀀스형에 대한 자료 연결이 가능
# range는 안됨
a=[1,2]
b=[3,4]
a+b
'hello' + 'hi'
a=(1,2)
b=(3,4)
a+b
#range(0,3)+range(3,5) 에러발생
list(range(0,3))+list(range(3,5))
tuple(range(0,3))+tuple(range(3,5))

(0, 1, 2, 3, 4)

In [58]:
# 리스트 + 튜플처럼 자료형이 다른 경우 연결이 안된다.
# list(range(0,3))+tuple(range(3,5)) 에러 발생

# 문자에 숫자 연결 안됨 (숫자를 문자로 변환하면 가능)
#'hi' + 7 에러 발생
'hi' + str(7)
'hi' + str(3.14)

# range(0,3)*3 에러 발생
list(range(0,3))*3

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [66]:
# len : 시퀀스 자료형에 해당되는 데이터의 길이를 구하는 함수
a = [1,2,3]
len(a)
a=(1,2,3)
len(a)
len(range(0,3))
len('hello')

hi = '안녕'
len(hi) # len은 문자의 개수를 구하는 함수

len(hi.encode('utf-8'))

6

In [72]:
# 시퀀스형에 대한 자료 참조는 대괄호[] 기로를 사용한다.
x = 'HI HELLO'
# x[0] -> x.__getitem__(0)
x[0]
# x[10]

IndexError: string index out of range

In [78]:
x[len(x)-1]
x[-1]
x

'HI HELLO'

In [98]:
x[2:-1]
x[2:]
x[1:7:2] # index 1부터 2씩 증하면서 인덱스 6번까지 가져오겠다.
x[:8:2]
x[3::2]
x[::2]
x[::] # == x 출력하는 거랑 같음
x[5:1:-1] # 5,4,3,2
x[::-1] # 역순

x[0:len(x)]
x[:len(x)]

# 튜플도 리스트와 동일
x = range(10)
x[4:7]
list(range(0,7,2))

x="hello world"
x[:10:3]

'hlwl'

In [111]:
a=list(range(0,91,10))
a[2:5] = [21,31,'x']
a
a[2:5] = range(500,1300,300)
a
a[1:9:2] = ['a','b','c','d']
a
del a[2:6]
a
del a[:5:2]
a

['a', 'd', 90]

In [112]:
# 딕셔너리 : 키(key)와 값(value)으로 자료를 표현 { } 사용
"""
person = [180, 70, 'O', '서울']

person2 = {'키':180, '몸무게':70, '혈액형':'O', '사는 곳':'서울'}

"""
# 딕셔너리를 다른 언어에서는 map, hash라고 부름

"\nperson = [180, 70, 'O', '서울']\n"

In [125]:
person = [180, 70, 'O', '서울']

person2 = {'키':180, '몸무게':70, '혈액형':'O', '사는 곳':'서울'}

In [126]:
person2

{'키': 180, '몸무게': 70, '혈액형': 'O', '사는 곳': '서울'}

In [133]:
person2 = {'키':180, '몸무게':70, '혈액형':'O', '사는 곳':'서울','몸무게':80, False:0, 99:'구구', 3.14:[3.14,'원주율']}
#.['주소','전번']:'서울,02'} 에러 발생
# key가 중복되면 마지막 자료가 저장
person2

{'키': 180,
 '몸무게': 80,
 '혈액형': 'O',
 '사는 곳': '서울',
 False: 0,
 99: '구구',
 3.14: [3.14, '원주율']}

In [138]:
person2 = {'키':180, '몸무게':70, '혈액형':'O', '사는 곳':'서울','취미':{'오전':['수영','야구'],'오후':'공부'}}
person2

{'키': 180,
 '몸무게': 70,
 '혈액형': 'O',
 '사는 곳': '서울',
 '취미': {'오전': ['수영', '야구'], '오후': '공부'}}

In [ ]:
"""
딕셔너리
 - key, value가 여러 쌍으로 구성
 - 컴마로 구분
 - key는 변하지 않는 것을 사용, value는 변하는 값, 변하지 않는 값 모두 사용 가능
"""

In [144]:
x=dict() #x={}
type(x)

dict

In [152]:
# dict(키1:값1, 키2:값2 ...)
per=dict(height=180,weight=70,bt='O')
per

per=dict(zip(['height','weight','bt'],[180,70,'O']))
per

per=dict([('height',180),('weight',70),('bt','O')])
per

per=dict({'height':180,'weight':70,'bt':'O'})
per

{'height': 180, 'weight': 70, 'bt': 'O'}

In [146]:
zip(['height','weight','bt'],[180,70,'O'])

In [155]:
a = {1:'hi'}
a
a={'a':[1,2,3]}
a

{'a': [1, 2, 3]}

In [159]:
b = {1:'a'}
print(a)
print(b)
a[2]='b' # key :2 , value : 'b'
a
a['name'] = 'hgd'
a

{'a': [1, 2, 3], 2: 'b'}
{1: 'a'}

{'a': [1, 2, 3], 2: 'b', 'name': 'hgd'}

In [177]:
a['name']='lss'
a
# 딕셔너리[키] = 값 으로 설정 가능
a['weight'] = 70.5
a
a['name'] # 딕셔너리[키] => return 값으로 value가 나온다.
a
'weight' in a # a 딕셔너리에 weigth가 있는지 확인
'sky' in a

len(a)
a.keys()

for k in a.keys():
    print(k)
    
for v in a.values():
    print(v)
    
list(a.values())

for i in a.items():
    print(i)

a
2
name
weight
[1, 2, 3]
b
lss
70.5
('a', [1, 2, 3])
(2, 'b')
('name', 'lss')
('weight', 70.5)

In [173]:
list(a.keys())

['a', 2, 'name', 'weight']

In [183]:
a['name']
a.get('name')
a['nn']

KeyError: 'nn'

In [186]:
print(a.get('nn'))

None

In [187]:
a.get('nn','kim')
# 딕셔너리 a에 nn 키가 없다면 kim을 출력해라
# default 설정

'kim'

In [188]:
a.get('id','guest') # id란 키가 없다면 guest를 출력해라

'guest'

In [201]:
# set : 집합
# x = {1,1,2,2,3} => x={1,2,3}
s=set([1,2,3,1])
s
s2=set('hello')
s2
#s2[1] # 순서 보장이 안되므로 문법적으로 옳지 않다.

s=set(['k','i','m'])
slist=list(s)
slist
slist[1]



s=tuple(['k','i','m'])
s
s[0]

'k'

In [ ]:
"""
Set 집합의 특징
1. 중복이 안됨
2. 순서가 없음
"""

In [203]:
s1=set([1,2,3,4])
s2=set([5,6,3,4])

In [205]:
s1 & s2
s1.intersection(s2)

{3, 4}

In [207]:
# 합집합
s1 | s2
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [209]:
# 차집합
s1 - s2
s1.difference(s2)

{1, 2}

In [220]:
s=set([1,2])
s
s.add(3)
s
# s.add([4,5]) add 함수는 2개 이상 추가 안됨
s.update([4,5])
s

{1, 2, 3, 4, 5}

In [ ]:
"""
참 : "test", [1,2], (1,2), 1
거짓 : "", [], (), 0, None

explicit programming
implicit programming


조건문

if 고양이가 나타나면:           if 조건:
    브레이크를 밟는다
    크락션을 울린다
달린다

"""

In [234]:
x=3
if x!=10:
    print("10입니다.")
    print("5보다 큽니다.")
print("문장을 수행합니다.")

10입니다.
5보다 큽니다.
문장을 수행합니다.

In [239]:
# 참 : "test", [1,2], (1,2), 1
# 거짓 : "", [], (), 0, None

# if a.get('nn'):
#     print("해당 키가 없습니다. 확인하세요")

In [243]:
x=10
if x==10:
    pass
if x==10:
    print("안녕")
    if x%2==0:
        print("하세요")

SyntaxError: invalid syntax (<ipython-input-243-6876868a145d>, line 11)

In [244]:
x=5
if x==5:
    print("x는")
print("5입니다.")

x는
5입니다.

In [249]:
x=5
if x>=3:
    print("3이상")
    if x<10:
        print("10미만")
    if x<5:
        print("5미만")
print("입니다.")

3이상
10미만
입니다.

In [252]:
if [1,2]:
    print("참")
else:
    print("거짓")
    
    
if None:
    print("참")
else:
    print("거짓")

참
거짓

In [257]:
bool(0)
bool('python')
bool('')

False

In [260]:
a=[1,2,3]
if a:  # True
    print(a.pop())
a

3

[1, 2]

In [262]:
a=[1,2,3]
while a:     # while(~동안), a변수 값이 참인 동안 반복
    print(a.pop())

3
2
1

In [266]:
a = int(input())
if a<10:
    print("10보다 작아요")
else:
    print("10보다 커요")

10
10보다 작아요

In [302]:
# 1번
num = set(range(1,5000))
g_num = set()
for i in range(5000):
    for j in str(i):
        i = i+int(j)
    g_num.add(i)
self_num = num-g_num
set(self_num)
sum(self_num)

1227365

In [275]:
# 2번
a = int(input())
b = input()
b=int(b[4:])
a-b

27000
Cash3000

24000

In [303]:
# 3번
x = int(input())
tuple(range(-10,10,x))

2

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [305]:
# 4번
n=(-32,75,97,-10,9,32,4,-15,0,76,14,2)
n[::2]

(-32, 97, 9, 4, 0, 14)

In [294]:
# 5번
a = [1,1,1,2,2,3,3,3,4,4,5]
set(a)

{1, 2, 3, 4, 5}