In [1]:
# 선형 회귀
import numpy as np

In [2]:
x=[2,4,6,8]
y=[81,93,91,97]

In [3]:
# x와 y의 평균값
mx=np.mean(x)
my=np.mean(y)

In [6]:
# 기울기 공식의 분모
divisor=sum([(mx-i)**2 for i in x])
divisor

20.0

In [7]:
# 기울기 공식의 분자
def top(x, mx, y, my):
    d=0
    for i in range(len(x)):
        d+=(x[i]-mx)*(y[i]-my)
    return d
dividend=top(x, mx, y, my)

In [8]:
print("분모",divisor)
print("분자",dividend)

분모 20.0
분자 46.0

In [12]:
# w: 직선의 기울기 = y값의 증가량 / x값의증가량
w=dividend/divisor
w # 기울기mx
b=my-(mx*w) # y의 평균-(x평균*기울기w)
b

79.0

In [86]:
data=[[2,0,81],[4,4,93],[6,2,91],[8,3,97]]

In [84]:
# 공부한시간=2, 과외시간=0, 실제점수=81, 예측점수=83.6
#...
# 공부한시간=8, 과외시간=3, 실제점수=97, 예측점수=97.4
# rmse:
def print_study(data):
    mx1=np.mean(np.array(data)[:,0])
    mx2=np.mean(np.array(data)[:,1])
    my=np.mean(np.array(data)[:,1])
    divisor1=sum([(mx1-i)**2 for i in np.array(data)[:,0]])
    dividend1=top(list(np.array(data)[:,0]),mx,list(np.array(data)[:,2]),my)
    w1=dividend1/divisor1
    divisor2=sum([(mx2-i)**2 for i in np.array(data)[:,0]])
    dividend2=top(list(np.array(data)[:,1]),mx,list(np.array(data)[:,2]),my)
    w2=dividend2/divisor
    b=my-(mx*w1)-(mx*w2)
    rmse=0
    yv=[]
    for i in data:
        print("공부한시간=",i[0], "과외시간=",i[1], ",실제점수=",i[2], ",예측점수=", round((i[0]*w1)+(i[1])*w2)+b)
        yv.append(round((i[0]*w1)+(i[1])*w2)+b)
    for i in range(len(yv)):
        rmse+=(yv[i]-list(np.array(data)[:,1]))[i]**2
    print("rmse:",np.sqrt(rmse/len(yv)))
    
print_study(data)

공부한시간= 2 과외시간= 0 ,실제점수= 81 ,예측점수= 230.8125
공부한시간= 4 과외시간= 4 ,실제점수= 93 ,예측점수= 46.8125
공부한시간= 6 과외시간= 2 ,실제점수= 91 ,예측점수= 145.8125
공부한시간= 8 과외시간= 3 ,실제점수= 97 ,예측점수= 102.8125
rmse: 146.4171187267732

In [87]:
wb=[2.3, 79] #기울기, y절편
#data=[[2,81], [4,93], [6,91], [8,97]]
x1=[i[0] for i in data]
x2=[i[1] for i in data]
y=[i[2] for i in data]

In [62]:
def predict(x):
    return wb[0]*x+wb+wb[1]

In [63]:
predict_result=[]
for i in range(len(x)):
    predict_result.append(predict(x[i]))
    print("공부시간=%.f, 실점수=%.f,예측점수=%.f" % (x[i], y[i], predict(x[i])))

공부시간=2, 실점수=81,예측점수=84
공부시간=4, 실점수=93,예측점수=88
공부시간=6, 실점수=91,예측점수=93
공부시간=8, 실점수=97,예측점수=97

In [64]:
def rmse(p,a):
    return np.sqrt(((p-a)**2).mean())
print("rmse : "+ str(rmse(np.array(predict_result), np.array(y))))

rmse : 2.880972058177584

In [88]:
import tensorflow as tf

In [89]:
# 기울기 범위 : 0~10, y절편 : 0~100
w1=tf.Variable(tf.random_normal([1],0,10,dtype=tf.float32, seed=0))
w2=tf.Variable(tf.random_normal([1],0,10,dtype=tf.float32, seed=0))
b=tf.Variable(tf.random_normal([1],0,100,dtype=tf.float32, seed=0))

In [90]:
hf=w1*x1+w2*x2+b
rmse=tf.sqrt(tf.reduce_mean(tf.square(hf-y)))
lr=0.1

In [91]:
train=tf.train.GradientDescentOptimizer(lr).minimize(rmse)

In [93]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for step in range(5001):
        sess.run(train)
        if step%100==0:
            print("RMSE=%.4f, 기울기 w1=%.4f, 기울기 w2=%.4f, y절편=%.4f" %(sess.run(rmse),sess.run(w1),sess.run(w2),sess.run(b)))

RMSE=157.1025, 기울기 w1=-3.4711, 기울기 w2=-3.7536, y절편=-39.8165
RMSE=44.6891, 기울기 w1=18.1984, 기울기 w2=6.5456, y절편=-32.9452
RMSE=43.0898, 기울기 w1=17.4979, 기울기 w2=6.7055, y절편=-29.0116
RMSE=41.4963, 기울기 w1=16.8068, 기울기 w2=6.7692, y절편=-25.0806
RMSE=39.9060, 기울기 w1=16.1451, 기울기 w2=6.7675, y절편=-21.1480
RMSE=38.3175, 기울기 w1=15.5062, 기울기 w2=6.7151, y절편=-17.2144
RMSE=36.7301, 기울기 w1=14.8849, 기울기 w2=6.6237, y절편=-13.2800
RMSE=35.1433, 기울기 w1=14.2769, 기울기 w2=6.5028, y절편=-9.3451
RMSE=33.5568, 기울기 w1=13.6789, 기울기 w2=6.3596, y절편=-5.4098
RMSE=31.9705, 기울기 w1=13.0883, 기울기 w2=6.2001, y절편=-1.4742
RMSE=30.3843, 기울기 w1=12.5031, 기울기 w2=6.0286, y절편=2.4616
RMSE=28.7982, 기울기 w1=11.9217, 기울기 w2=5.8485, y절편=6.3974
RMSE=27.2120, 기울기 w1=11.3431, 기울기 w2=5.6624, y절편=10.3334
RMSE=25.6259, 기울기 w1=10.7664, 기울기 w2=5.4721, y절편=14.2694
RMSE=24.0399, 기울기 w1=10.1910, 기울기 w2=5.2789, y절편=18.2054
RMSE=22.4538, 기울기 w1=9.6164, 기울기 w2=5.0839, y절편=22.1414
RMSE=20.8678, 기울기 w1=9.0424, 기울기 w2=4.8876, y절편=26.0774
RMSE=19.2818, 기울기 w1=8.4687, 기울기 w2=4.6907, y절편=30.0135
RMSE=17.6959, 기울기 w1=7.8952, 기울기 w2=4.4933, y절편=33.9495
RMSE=16.1100, 기울기 w1=7.3218, 기울기 w2=4.2956, y절편=37.8853
RMSE=14.5243, 기울기 w1=6.7485, 기울기 w2=4.0978, y절편=41.8210
RMSE=12.9386, 기울기 w1=6.1753, 기울기 w2=3.9000, y절편=45.7566
RMSE=11.3531, 기울기 w1=5.6021, 기울기 w2=3.7021, y절편=49.6919
RMSE=9.7679, 기울기 w1=5.0290, 기울기 w2=3.5042, y절편=53.6270
RMSE=8.1830, 기울기 w1=4.4560, 기울기 w2=3.3063, y절편=57.5616
RMSE=6.5989, 기울기 w1=3.8830, 기울기 w2=3.1085, y절편=61.4953
RMSE=5.0161, 기울기 w1=3.3103, 기울기 w2=2.9108, y절편=65.4273
RMSE=3.4364, 기울기 w1=2.7382, 기울기 w2=2.7132, y절편=69.3555
RMSE=1.8677, 기울기 w1=2.1681, 기울기 w2=2.5164, y절편=73.2700
RMSE=1.8355, 기울기 w1=2.0067, 기울기 w2=2.4875, y절편=76.1210
RMSE=1.8368, 기울기 w1=1.8749, 기울기 w2=2.4440, y절편=77.1553
RMSE=1.8370, 기울기 w1=1.8149, 기울기 w2=2.4236, y절편=77.5888
RMSE=1.8370, 기울기 w1=1.7890, 기울기 w2=2.4147, y절편=77.7708
RMSE=1.8370, 기울기 w1=1.7779, 기울기 w2=2.4109, y절편=77.8472
RMSE=1.8370, 기울기 w1=1.7733, 기울기 w2=2.4093, y절편=77.8793
RMSE=1.8370, 기울기 w1=1.7713, 기울기 w2=2.4087, y절편=77.8928
RMSE=1.8370, 기울기 w1=1.7705, 기울기 w2=2.4084, y절편=77.8985
RMSE=1.8370, 기울기 w1=1.7702, 기울기 w2=2.4082, y절편=77.9008
RMSE=1.8370, 기울기 w1=1.7700, 기울기 w2=2.4082, y절편=77.9018
RMSE=1.8370, 기울기 w1=1.7699, 기울기 w2=2.4082, y절편=77.9022
RMSE=1.8369, 기울기 w1=1.7699, 기울기 w2=2.4082, y절편=77.9022
RMSE=1.8369, 기울기 w1=1.7699, 기울기 w2=2.4082, y절편=77.9022
RMSE=1.8369, 기울기 w1=1.7699, 기울기 w2=2.4082, y절편=77.9022
RMSE=1.8369, 기울기 w1=1.7699, 기울기 w2=2.4082, y절편=77.9022
RMSE=1.8369, 기울기 w1=1.7699, 기울기 w2=2.4082, y절편=77.9022
RMSE=1.8369, 기울기 w1=1.7699, 기울기 w2=2.4082, y절편=77.9022
RMSE=1.8369, 기울기 w1=1.7699, 기울기 w2=2.4082, y절편=77.9022
RMSE=1.8369, 기울기 w1=1.7699, 기울기 w2=2.4082, y절편=77.9022
RMSE=1.8369, 기울기 w1=1.7699, 기울기 w2=2.4082, y절편=77.9022
RMSE=1.8369, 기울기 w1=1.7699, 기울기 w2=2.4082, y절편=77.9022
RMSE=1.8369, 기울기 w1=1.7699, 기울기 w2=2.4082, y절편=77.9022

In [94]:
# 로지스틱 회귀
data=[[2,0],[4,0],[6,0],[8,1],[10,1],[12,1],[14,1]]
xdata=[i[0] for i in data]
ydata=[i[0] for i in data]

In [97]:
w=tf.Variable(tf.random_normal([1], dtype=tf.float32, seed=0))
b=tf.Variable(tf.random_normal([1], dtype=tf.float32, seed=0))

In [ ]:
hf=1/(1+np.e**(w*xdata+b))
cost=-tf.reduce_mean(np.array(ydata)*tf.log(hf)+(1-np.array(ydata)*tf.log(1-hf)))
train=tf.train.GradientDescentOptimizer().minimize()

In [118]:
x_data = [[1, 2, 1, 1],
          [2, 1, 3, 2],
          [3, 1, 3, 4],
          [4, 1, 5, 5],
          [1, 7, 5, 5],
          [1, 2, 5, 6],
          [1, 6, 6, 6],
          [1, 7, 7, 7]]
y_data = [[0, 0, 1], # ohe 되어있다고 가정
          [0, 0, 1], # 100 -> A
          [0, 0, 1], # 010 -> B
          [0, 1, 0], # 001 -> C
          [0, 1, 0],
          [0, 1, 0],
          [1, 0, 0],
          [1, 0, 0]]

xy = np.array([[828.659973, 833.450012, 908100, 828.349976, 831.659973],
               [823.02002, 828.070007, 1828100, 821.655029, 828.070007],
               [819.929993, 824.400024, 1438100, 818.97998, 824.159973],
               [816, 820.958984, 1008100, 815.48999, 819.23999],
               [819.359985, 823, 1188100, 818.469971, 818.97998],
               [819, 823, 1198100, 816, 820.450012],
               [811.700012, 815.25, 1098100, 809.780029, 813.669983],
               [809.51001, 816.659973, 1398100, 804.539978, 809.559998]])

In [122]:
x=tf.placeholder(tf.float32, [None,4])
y=tf.placeholder(tf.float32, [None,3]) # 3 분류기의 개수
w=tf.Variable(tf.random_normal([4,3], dtype=tf.float32, seed=0))
b=tf.Variable(tf.random_normal([3], dtype=tf.float32, seed=0))

In [123]:
hf=tf.nn.softmax((tf.matmul(x,w)+b)) # neural net 밑에 softmax 가 있음

In [124]:
cost=tf.reduce_mean(-tf.reduce_sum(y*tf.log(hf), axis=1)) # 위아래로 더해야해서 axis를 반드시 줘야 함

In [125]:
opt=tf.train.GradientDescentOptimizer(0.1).minimize(cost)

In [158]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for step in range(2001):
        _,cv=sess.run([opt, cost], feed_dict={x:x_data, y:y_data})
        if step%200==0:
            print(step,"step :",cv)
    # x 수집 : [1,11,7,9] => hf => 예측
    # [[1,11,7,9],[1,3,4,3],[1,1,0,1]]
    print('-'*50)
    
    res=sess.run(hf, feed_dict={x:[[1,11,7,9]]})
    print("분류 결과 : ", str(sess.run(tf.argmax(res,1)))[1])
    
    print('-'*50)
    
    res1=sess.run(hf, feed_dict={x:[[1,11,7,9],[1,3,4,3],[1,1,0,1]]})
    print("분류 결과 : ",str(sess.run(tf.argmax(res1,1))))

0 step : 3.7007992
200 step : 0.5472871
400 step : 0.4367733
600 step : 0.33953103
800 step : 0.25903332
1000 step : 0.23095368
1200 step : 0.20935987
1400 step : 0.19142635
1600 step : 0.17626911
1800 step : 0.16328311
2000 step : 0.15203321
--------------------------------------------------
분류 결과 :  1
--------------------------------------------------
분류 결과 :  [1 0 2]

In [542]:
import pandas as pd
path='C:/Users/student/Downloads\데이터들/'

In [543]:
# 1. zoo 데이터 분류
zoo=pd.read_csv(path+'실습데이터/data-04-zoo.csv',header=19)
col=list(range(0,17))
zoo.columns=col
zoo.head()

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0   1   0   0   1   0   0   0   1   1   1   0   0   4   1   0   1   0
1   0   0   1   0   0   1   1   1   1   0   0   1   0   1   0   0   3
2   1   0   0   1   0   0   1   1   1   1   0   0   4   0   0   1   0
3   1   0   0   1   0   0   1   1   1   1   0   0   4   1   0   1   0
4   1   0   0   1   0   0   0   1   1   1   0   0   4   1   0   1   0

In [544]:
y=zoo.iloc[:,16]
y.value_counts()# 0, 1, 2, 3, 4, 5, 6 7개 데이터

0    40
1    20
3    13
6    10
5     8
2     5
4     4
Name: 16, dtype: int64

In [545]:
# 종류가 총 7개, 원핫인코딩처리
y_data=zoo.iloc[:,[16]]
y_data=y_data.astype('category')
y_data=pd.get_dummies(y_data)
y_data.shape

(100, 7)

In [546]:
x_data=zoo.iloc[:,:16]
x_data.shape # 100, 16

(100, 16)

In [547]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_data,y_data,test_size=0.3, random_state=1004, shuffle=True)

In [548]:
test_iris=np.array(y_train)
test_iris[1].argmax()

3

In [549]:
x=tf.placeholder(tf.float32, shape=[None,16])
y=tf.placeholder(tf.float32, shape=[None,7])
w=tf.Variable(tf.random_normal([16,7]), dtype=tf.float32)
b=tf.Variable(tf.random_normal([7]), dtype=tf.float32)

In [550]:
hf=tf.nn.softmax((tf.matmul(x,w)+b))
cost=tf.reduce_mean(-tf.reduce_sum(y*tf.log(hf), axis=1))

In [551]:
opt=tf.train.GradientDescentOptimizer(0.01).minimize(cost)

In [553]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for step in range(20000):
        _,cv=sess.run([opt, cost], feed_dict={x:x_train,y:y_train})
        if step%1000==0:
            print(step,"step :",cv)
    print('-'*50)
    res=sess.run(hf, feed_dict={x:x_train})
    hv=sess.run(tf.argmax(res, 1))
    hv_arr=np.array(hv)
    cnt=0
    print("예측한 hf의 값들\n",hv_arr)
    print('-'*50)
    for i in range(len(hv_arr)):
        if hv_arr[i]==test_iris[i].argmax():
            cnt+=1
    print('정확도:',cnt/len(hv_arr))

0 step : 4.6520157
1000 step : 0.47563466
2000 step : 0.31666073
3000 step : 0.23842558
4000 step : 0.18940337
5000 step : 0.15567878
6000 step : 0.13131516
7000 step : 0.113123655
8000 step : 0.09916751
9000 step : 0.08820061
10000 step : 0.07939644
11000 step : 0.07219404
12000 step : 0.066203706
13000 step : 0.061149467
14000 step : 0.05683092
15000 step : 0.05309998
16000 step : 0.049845107
17000 step : 0.046980977
18000 step : 0.04444124
19000 step : 0.042173613
--------------------------------------------------
예측한 hf의 값들
 [1 3 0 1 0 0 1 6 0 3 0 1 6 6 3 0 3 1 5 0 3 0 0 0 5 0 6 0 5 5 1 6 2 1 0 1 0
 6 1 1 0 0 0 0 0 1 3 0 1 2 1 0 0 6 5 1 3 4 3 3 0 0 6 6 6 4 0 0 3 0]
--------------------------------------------------
정확도: 1.0

In [554]:
# 2번 iris 데이터
iris=pd.read_csv(path+'실습데이터/iris_softmax.csv', header=None)
iris=iris.iloc[:,1:]
iris # 150, 7

       1    2    3    4    5    6    7
0    5.1  3.5  1.4  0.2  1.0  0.0  0.0
1    4.9  3.0  1.4  0.2  1.0  0.0  0.0
2    4.7  3.2  1.3  0.2  1.0  0.0  0.0
3    4.6  3.1  1.5  0.2  1.0  0.0  0.0
4    5.0  3.6  1.4  0.2  1.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...  ...
145  6.7  3.0  5.2  2.3  0.0  0.0  1.0
146  6.3  2.5  5.0  1.9  0.0  0.0  1.0
147  6.5  3.0  5.2  2.0  0.0  0.0  1.0
148  6.2  3.4  5.4  2.3  0.0  0.0  1.0
149  5.9  3.0  5.1  1.8  0.0  0.0  1.0

[150 rows x 7 columns]

In [555]:
x_data=iris.iloc[:,:4]
x_data.shape

(150, 4)

In [556]:
y_data=iris.iloc[:,4:]
y_data.shape

(150, 3)

In [557]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_data,y_data,test_size=0.3, random_state=1004, shuffle=True)

In [558]:
test_iris=np.array(y_test)

In [559]:
len(test_iris)

45

In [560]:
x=tf.placeholder(tf.float32, shape=[None,4])
y=tf.placeholder(tf.float32, shape=[None,3])
w=tf.Variable(tf.random_normal([4,3],dtype=tf.float32, seed=777))
b=tf.Variable(tf.random_normal([3], dtype=tf.float32, seed=777))

In [561]:
hf=tf.nn.softmax((tf.matmul(x,w)+b))
cost=tf.reduce_mean(-tf.reduce_sum(y*tf.log(hf), axis=1))
opt=tf.train.GradientDescentOptimizer(0.01).minimize(cost)

In [562]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for step in range(20001):
        _,cv=sess.run([opt, cost], feed_dict={x:x_train, y:y_train})
        if step%1000==0:
            print(step, "Step:",cv)
    print('-'*50)
    res=sess.run(hf, feed_dict={x:x_test})
    hv=sess.run(tf.argmax(res, 1))
    cnt=0
    print("예측한 값:\n",hv)
    for i in range(len(hv)):
        if hv[i]==test_iris[i].argmax():
            cnt+=1
    print("예측한 값의 정확도:",cnt/len(hv))

0 Step: 3.4872837
1000 Step: 0.3778739
2000 Step: 0.27747884
3000 Step: 0.22673623
4000 Step: 0.19575399
5000 Step: 0.17479168
6000 Step: 0.15960369
7000 Step: 0.14804809
8000 Step: 0.13892934
9000 Step: 0.1315278
10000 Step: 0.12538409
11000 Step: 0.120191045
12000 Step: 0.115735
13000 Step: 0.11186291
14000 Step: 0.10846177
15000 Step: 0.10544665
16000 Step: 0.102752104
17000 Step: 0.10032695
18000 Step: 0.09813056
19000 Step: 0.09613029
20000 Step: 0.09429948
--------------------------------------------------
예측한 값:
 [1 1 1 1 0 0 2 0 1 2 1 0 0 1 0 2 2 1 2 2 0 0 2 1 2 0 2 2 0 1 1 1 2 1 1 0 2
 0 1 2 0 2 1 2 1]
예측한 값의 정확도: 0.9555555555555556

In [563]:
len(hv)

45